In [1]:
def obter_float(texto, validador = None):
    while True:
        try:      
            value = float(input(texto))       

        except:
            print('Valor incorreto.\n')
            
        else:
            if (not validador is None):
                ret_value = validador(value)
                if not ret_value:
                    continue
                    
            return value  
                
            
def obter_int(texto, validador = None):
    while True:
        try:      
            value = int(input(texto))       

        except:
            print('Valor incorreto.\n')
            
        else:
            if (not validador is None):
                ret_value = validador(value)
                if not ret_value:
                    continue
                    
            return value

# Ex. 1

**Crie um algoritmo em Python que peça uma nota, entre zero e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.**

In [4]:
while True:
    try:
        nota = int(input('Nota (0-100): '))
        if 0 < nota < 100:
            break
        print('A nota deve estar entre 0 e 100\n')
       
    except:
        print('Valor incorreto!\n')
        
print(f"Valor correto! ({nota})")

Nota (0-100):  a

Valor incorreto!

Nota (0-100):  1010

A nota deve estar entre 0 e 100

Nota (0-100):  53

Valor correto! (53)

# Ex. 2

**Crie um algoritmo em Python que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.**

In [6]:
login = {}

while True:
    login['usuario'] = input("Usuário: ")
    login['senha'] = input("Senha: ")
    if login['usuario'] != login['senha']:
        break
    print("O usuário deve ser diferente da senha.\n")
    
print('Cadastro efetuado com sucesso')

Usuário:  luiz
Senha:  luiz

O usuário deve ser diferente da senha.

Usuário:  luiz
Senha:  senha

Cadastro efetuado com sucesso

# Ex. 3

**Crie um algoritmo em Python que leia e valide as seguintes informações:**
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [33]:
cadastro = {}

while True:
    nome = input("Nome: ")
    if not nome.replace(' ', '').isalpha():
        print('Apenas letras e espaços são aceitos\n')
        continue
    
    if len(nome) <= 3:        
        print('Nome deve ter pelo menos 4 caracteres\n')
        continue
        
    cadastro['nome'] = nome    
    break    

    
def _validador_idade(idade):
    if not 0 <= idade <= 150:
        print('Valor fora do intervalo.\n') 
        return False
    return True
cadastro['idade']  = obter_int("Idade (0-150): ", _validador_idade) 

def _validador_salario(salario):
    if salario < 0:
        print('Não existe salário negativo!\n') 
        return False
    return True        
cadastro['salario'] = obter_float("Salário: ", _validador_salario)        
        
        
while True:
    try:
        sexo = input("Sexo(m/f): ")       
                
    except:
        print('Valor incorreto.\n')    

    else:
        print()
        if not (sexo.lower() in 'mf') or len(sexo) != 1:
            print('Valor inválido!\nEscolha "m" ou "f"\n')  
            continue
            
        cadastro['sexo'] = sexo
        break
            
while True:
    try:
        estado_civil = input("Estado civil((s)olteiro(a), (c)asado(a), (v)iúvo(a),(d)ivorciado(a) ):\n")       
                
    except:
        print('Valor incorreto.\n')    

    else:
        if not (estado_civil.lower() in 'scvd') or len(sexo) != 1:
            print('Valor inválido!\nEscolha:\n' +  
                  '  [s]olteiro(a)\n  [c]asado(a)\n  [v]iúvo(a)\n  [d]ivorciado(a)\n')  
            continue
            
        cadastro['estado_civil'] = estado_civil
        break       
        
cadastro

Nome:  Luiz
Idade (0-150):  18
Salário:  30000
Sexo(m/f):  m

Estado civil((s)olteiro(a), (c)asado(a), (v)iúvo(a),(d)ivorciado(a) ):
 s

{'nome': 'Luiz',
 'idade': 18,
 'salario': 30000.0,
 'sexo': 'm',
 'estado_civil': 's'}

# Ex. 4

**Supondo que a população de um país A seja da ordem de 80.000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200.000 habitantes com uma taxa de crescimento de 1.5%.**

Crie um algoritmo em Python que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

**Solução matemática:**

$A\cdot 1,03 ^ x > B\cdot 1,015^x$ 

$\frac{A}{B} > \frac{1,015^x}{1,03 ^ x}$ 

$\frac{A}{B} > \left (\frac{1,015}{1,03}  \right ) ^ x$ 

$\frac{80.000}{200.000} > \left (\frac{1,015}{1,03}  \right ) ^ x$

$\frac{4}{10} > \left (\frac{1,015}{1,03}  \right ) ^ x$

$\log_{\frac{1,015}{1,03}}0.4 > x$

In [26]:
import math

math.log(80000/200000, (1.015/1.03))

62.459364713530675

**Solução computacional (à força):**

In [10]:
pop_A = 80000
pop_B = 200000
anos = 0
while pop_A < pop_B:
    pop_A *= 1.03
    pop_B *= 1.015
    anos += 1
    
anos

63

In [11]:
1.03 ** 62 * 80000

500032.13864657056

In [12]:
1.015 ** 62 * 200000

503413.21868199005

# Ex. 5

**Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:**
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [19]:
n = obter_int("Tabuada:")
for x in range(1,11):
    print(f"{n} x {x} = {n*x}")

Tabuada: 1000

1000 x 1 = 1000
1000 x 2 = 2000
1000 x 3 = 3000
1000 x 4 = 4000
1000 x 5 = 5000
1000 x 6 = 6000
1000 x 7 = 7000
1000 x 8 = 8000
1000 x 9 = 9000
1000 x 10 = 10000

# Ex. 6

**Crie um algoritmo em Python que leia três números e mostre o maior e o menor deles.**

In [20]:
print("Digite 3 números\n\n")

numeros = []
for n in range(1, 4):
    valor = obter_float(f'Número {n}: ')
    numeros.append(valor)   
           
print(f'O maior número é {max(numeros)} e o menor é {min(numeros)}' )

Digite 3 números

Número 1:  45
Número 2:  122.3
Número 3:  2

O maior número é 122.3

# Ex. 7

**Crie um algoritmo em Python que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.**

In [2]:
base = obter_float("Digite o número base: ")
expoente = obter_int("Digite o número expoente: ")
                      
num = 1
for i in range(expoente):
    num *= base

print(f'\n{base} elevado a {expoente} é igual a {num}')

Digite o número base:  2.5
Digite o número expoente:  5

2.5 elevado a 5 é igual a 97.65625

# Ex. 8

**Crie um algoritmo em Python que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.**

In [8]:
numeros = []
par = 0
impar = 0
for n in range(1,11):
    valor = obter_int(f'{n}º num. inteiro: ')
    numeros.append(valor)
    if (valor % 2 == 1):
        impar += 1
    else:
        par += 1
        
print(f'Entre os numeros {numeros}, {par} são pares e {impar} são ímpares')

1º num. inteiro:  2342345
2º num. inteiro:  62456
3º num. inteiro:  435234
4º num. inteiro:  2413
5º num. inteiro:  35466
6º num. inteiro:  6767657
7º num. inteiro:  8654
8º num. inteiro:  436
9º num. inteiro:  346
10º num. inteiro:  76

Entre os numeros [2342345, 62456, 435234, 2413, 35466, 6767657, 8654, 436, 346, 76], 7 são pares e 3 são ímpares

# Ex. 9

**Um funcionário de uma empresa recebe aumento salarial anualmente.** Sabe-se que:

Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00;

Em 1996 recebeu aumento de 1,5% sobre seu salário inicial;

A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em Python que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário.

In [29]:
# Solução matemática
salario = obter_float('Salário inicial: ')
salario = salario * ((1.5 * 2**(2020 - 1996))/100 + 1)

# Mostra o salário final, com separador de milhar como ponto e de decimal com vírgula
f'{salario:,}'.replace('.','_').replace(',','.').replace('_',',')

Salário inicial:  1000

'251.659.240,0'

# Ex. 10

**Crie um algoritmo em Python com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.**

In [34]:
def positivo_ou_negativo(num):
    return 'P' if num > 0 else 'N'

valor = obter_float('Número: ')
positivo_ou_negativo(valor)

Número:  000

'N'

# Ex. 11

**Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.**

In [51]:
import re

# Usa regex para validar o formato, mas extrai o dia, mês e ano por "str slice",
# ao invés de usar o pacote "datetime"
def data_por_extenso(data_str):   
   
    if not (isinstance(data_str, str)):
        return None    
 
    if len(data_str) != 10:        
        return None    
  
    data = re.search(r'\d{2}/\d{2}/\d{4}', data_str).group(0)  
   
    dia = int(data[:2])
    mes = int(data[3:5])
    ano = int(data[6:])
    meses=('janeiro','fevereiro','mar','abril','maio','junho',
           'julho','agosto','setembro','outubro','novembro','dezembro')
    
    
    return f'{dia} de {meses[mes-1]} de {ano}'

data = input('Entre uma data (DD/MM/AAAA)')
data_por_extenso(data)

Entre uma data (DD/MM/AAAA) 25/05/2020

'25 de maio de 2020'

# Ex. 12

**Crie uma classe que modele uma pessoa:**<br>

Atributos: nome, idade, peso e altura<br>
Métodos: Envelhercer, engordar, emagrecer, crescer.<br>
<br>Obs: Por padrão, a cada ano que nossa pessoa envelhece, sendo a idade dela menor que 21 anos, ela deve crescer 0,5 cm.

In [54]:
21 - 15 - 4

2

In [100]:
class Pessoa:
    def __init__(self, nome: str, idade: int, peso: float, altura_em_cm: float):
        self.nome = nome
        self.idade = idade
        self.peso = peso
        self.altura_em_cm = altura_em_cm
        
    def envelhecer(self, anos = 1):                
        self.idade += anos 
        anos_a_crescer = anos  
        if self.idade > 20:
            anos_a_crescer = anos - (self.idade - 20)
            if anos_a_crescer < 0:
                anos_a_crescer = 0      
        self.altura_em_cm += anos_a_crescer * 0.5   
        
    def engordar(self, kg = 1):                
        self.peso += kg 
        
    def emagrecer(self, kg = 1):
        self.peso -= kg
        
    def crescer(self, cm = 1):
        self.altura_em_cm += cm
        
    def __str__(self):
        return (f'Pessoa {self.nome}, tem {self.idade} anos, {self.peso} kg e ' 
                f'{self.altura_em_cm} cm de altura')
    
    def __repr__(self):    
        return f'classe "{self.__class__.__name__}"({self.__dict__})'

In [101]:
p = Pessoa('lf', 18, 80, 183)
p.envelhecer(3)
p

classe "Pessoa"({'nome': 'lf', 'idade': 21, 'peso': 80, 'altura_em_cm': 184.0})

In [102]:
p = Pessoa('lf', 15, 80, 183)
p.envelhecer(3)
p.altura_em_cm

184.5